.suspense_loader {
    $base-line-height: 200px;
    $white: #5433FF;
    $off-white: rgba($white, 0.2);
    $spin-duration: 1s;
    $pulse-duration: 750ms;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
  
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  
    @keyframes pulse {
      50% {
        background: $white;
      }
    }
  
    html {
      height: 100%;
    }
    body {
      @extend html;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: #333333;
    }
  
    .loading {
      border-radius: 50%;
      width: $base-line-height;
      height: $base-line-height;
      border: 1.25rem solid $off-white;
      border-top-color: $white;
      animation: spin $spin-duration infinite linear;
    }
  
    .loading-pulse {
      position: relative;
      width: ($base-line-height / 4);
      height: $base-line-height;
      background: $off-white;
      animation: pulse $pulse-duration infinite;
      animation-delay: ($pulse-duration / 3);
      &:before,
      &:after {
        content: "";
        position: absolute;
        display: block;
        height: ($base-line-height / 1.5);
        width: ($base-line-height / 4);
        background: $off-white;
        top: 50%;
        transform: translateY(-50%);
        animation: pulse $pulse-duration infinite;
      }
      &:before {
        left: -($base-line-height / 2);
      }
      &:after {
        left: ($base-line-height / 2);
        animation-delay: ($pulse-duration / 1.5);
      }
    }

  .logo {
    // animation: App-logo-spin infinite 3s linear;
    position: absolute;
    z-index: 60;
    top: 50%;
    transform: translateY(-50%);
  }
}
  
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}